<div class="ModalHeader">
    <a class="Close" onclick="$.fancybox.close(); return false;" href="#">×</a>
    <h2>Voulez-vous vraiment supprimer la catégorie suivante :</h2>
</div>
<div class="ModalContent Medium" style="max-height: 752px;">
    <table class="FormLayout">
        <tr>
            <td class="Label">Titre</td>
            <td class="Field">{{ categorie.titre }}</td>
        </tr>
        <tr>
            <td class="Label">Parente</td>
            <td class="Field">{{ categorie.parent }}</td>
        </tr>
    </table>
</div>
<div class="ModalFooter Center">
    <a class="Button ShowLoading Cancel" href="#" onclick="$.fancybox.close(); return false;">Annuler</a>
    <a class="Button ShowLoading" href="{{ path('admin_liens_categories_supprimerok', { 'id': categorie.id }) }}">Supprimer</button>
        <div class="Clear"></div>
</div>
<script type="text/javascript">
    $('#Loading').hide();
    nexus.formatContentCallable();
</script>
